body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    width: 80%;
    margin: 100px auto;
    background-color: #fff;
    padding: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 40px;
}

form {
    display: inline-block;
    margin-bottom: 50px;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50
  }
